<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :fname %><br>
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lname %><br>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    Male<%= f.radio_button :gender, 'male' %>
    Female<%= f.radio_button :gender, 'female' %>
  </div>
  <div class="field">
    <%= f.label "Year of birth" %><br>
    <%= f.select :yob, 1900.. Date.today.year %>
  </div>
  <div class="field">
    <%= f.label :tos %><br>
    <%= f.label :tos, "Yes" %>
    <%= f.check_box :tos, { :multiple => false }, "yes", nil %>
    <%= f.label :tos, "No" %>
    <%= f.check_box :tos, {:multiple => false }, "no", nil %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
