<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.select :state, options_for_select(us_states, @user.state) %>
  </div>
  <div class="field">
    <%= f.label :education, "Highest Education" %><br>
    <%= f.radio_button :education, "Bachelors" %> Bachelors
    <%= f.radio_button :education, "Masters" %> Masters
    <%= f.radio_button :education, "Doctorate" %> Doctorate
  </div>
  <div class="field">
    <%= f.label :specialty %>(Select One)<br>
    <%= f.label :specialty, "Cell" %>
    <%= f.check_box :specialty, { :multiple => false }, "Cell", nil %>
    <%= f.label :specialty, "Genetics" %>
    <%= f.check_box :specialty, { :multiple => false }, "Genetics", nil %>
    <%= f.label :specialty, "Biochemistry" %>
    <%= f.check_box :specialty, { :multiple => false }, "Biochemistry", nil %>
    <%= f.label :specialty, "Molecular" %>
    <%= f.check_box :specialty, { :multiple => false }, "Molecular", nil %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
