<p id="notice"><%= notice %></p>

<h1>Listing Shoutouts</h1>

<table border=1>
  <thead>
    <tr>
      <th>Content</th>
      <th>Created at</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoutouts.each do |shoutout| %>
      <tr>
        <td><%= shoutout.content %></td>
        <td><%= shoutout.created_at %></td>
        <td><% @user.each do |x| %>
            <% if shoutout.id.include?(x.shoutout_ids) %>
              <%= x.user_name %>
            <% else %>
              <% "Anonymouse" %>
            <% end %>
          <% end %>
        <% end %>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'back', :back %>
